<!DOCTYPE html>
<html lang="en" data-ng-app="themeonApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Welcome to Trasua</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/material-design-iconic-font.css" media="screen">
		<link href="assets/css/flexslider.css" type="text/css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/global.css" media="screen">
		<!-- RS5.0 Main Stylesheet -->
		<link rel="stylesheet" type="text/css" href="assets/css/settings.css">
		<!-- RS5.0 Layers and Navigation Styles -->
		<link rel="stylesheet" type="text/css" href="assets/css/layers.css">
		<link rel="stylesheet" type="text/css" href="assets/css/navigation.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css" media="screen">
		<link rel="stylesheet" type="text/less" href="assets/css/skin.css" media="screen">
	</head>
	<body>
		<!--Loader Start-->
		<div id="loading">
			<div id="loading-center">
				<div id="loading-center-absolute">
					<div class="object" id="object_four"></div>
					<div class="object" id="object_three"></div>
					<div class="object" id="object_two"></div>
					<div class="object" id="object_one"></div>
				</div>
			</div>
		</div>
		<!--Loader End-->
		<!--Page Wrapper Start-->
		<div id="wrapper" class="blog blog-list">
			<!--Header Section Start-->
			<header id="header" class="header header-one">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-1">
							<a href="index.html" class="logo"> <img src="assets/images/home_1-logo.png" alt="logo" /></a>
						</div>
						<div class="col-xs-12 col-sm-11 nav-mob">
							<nav class="navbar">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>

								</div>
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li class="active has-sub">
											<a href="javascript:void(0);">Home</a>
											<ul class="sub-menu">
												<li>
													<a href="index.html">homepage 1</a>
												</li>
												<li>
													<a href="homepage-two.html">homepage 2</a>
												</li>
												<li>
													<a href="homepage-three.html">homepage 3</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">About</a>
										</li>
										<li>
											<a href="#">Teams</a>
										</li>
										<li class="has-sub">
											<a href="javascript:void(0);">Works</a>
											<ul class="sub-menu">
												<li>
													<a href="gallery-two.html">gallery 2</a>
												</li>
												<li>
													<a href="gallery-three.html">gallery 3</a>
												</li>
												<li>
													<a href="gallery-four.html">gallery 4</a>
												</li>
												<li>
													<a href="gallery-five.html">gallery 5</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">services</a>
										</li>
										<li>
											<a href="#">pricing</a>
										</li>
										<li class="has-sub">
											<a href="javascript:void(0);">blog</a>
											<ul class="sub-menu">
												<li>
													<a href="blog-standard.html">blog standard</a>
												</li>
												<li>
													<a href="blog-list.html">blog list</a>
												</li>
												<li>
													<a href="blog-detail.html">blog detail</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">contact</a>
										</li>
									</ul>
								</div><!-- /.navbar-collapse -->
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!--Header Section Ends-->
			<!--Section Starts Here-->
			<section class="blog-section">
				<!--Banner Starts Here-->
				<div class="banner">
					<div class="small-banner-text">
						<span class="icon-layers icons"></span>
						<h1>the <strong>blogs</strong></h1>
						<ul>
							<li>
								<a href="index.html">home</a>
							</li>
							<li>
								<a href="#">blog list</a>
							</li>
						</ul>
					</div>
				</div>
				<!--Banner Ends Here-->
				<!--Section Content Starts Here-->
				<div class="section-content">
					<div class="blog-content">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-9">
									<div class="content-one clearfix">
										<div class="flexslider">
											<ul class="slides">
												<li>
													<img src="assets/images/blog-2.jpg" alt="" />
												</li>
												<li>
													<img src="assets/images/blog-3.jpg" alt="" />
												</li>
												<li>
													<img src="assets/images/blog-4.jpg" alt="" />
												</li>
											</ul>
										</div>
										<div class="content-description">
											<ul>
												<li>
													april 25, 2016
												</li>
												<li>
													by: <a href="#">bill gates</a>
												</li>
											</ul>
											<h3> <a href="#">Curabitur accumsan eu pulvinar.</a></h3>
											<span class="greyline"></span>
											<span class="greyline small-greyline "></span>
											<p>
												Lorem ipsum dolor sit consectetur adipiscing elit. Vestibulum sit leo eu ipsum hendrerit consequat quis neque ornare arcu dapibus...
											</p>
											<a href="#" class="btn"> read more</a>
										</div>
									</div>
									<div class="content-one clearfix">
										<div class="description-fig">
											<img src="assets/images/blog-3.jpg" alt="" />
										</div>
										<div class="content-description">
											<ul>
												<li>
													april 25, 2016
												</li>
												<li>
													by: <a href="#">di maria</a>
												</li>
											</ul>
											<h3><a href="#">Integer convallis metus a tempus.</a></h3>
											<span class="greyline"></span>
											<span class="greyline small-greyline "></span>
											<p>
												Lorem ipsum dolor sit consectetur adipiscing elit. Vestibulum sit leo eu ipsum hendrerit consequat quis neque ornare arcu dapibus...
											</p>
											<a href="#" class="btn"> read more</a>
										</div>
									</div>
									<div class="content-one clearfix">
										<div class="video-blog">
											<img src="assets/images/blog-4.jpg" alt="" data-video="https://www.youtube.com/embed/xW_AsV7k42o">
											<div class="control">
												<button class="play-btn" type="button"></button>
											</div>
										</div>
										<div class="content-description">
											<ul>
												<li>
													april 17, 2016
												</li>
												<li>
													by: <a href="#">author</a>
												</li>
											</ul>
											<h3><a href="#">Etiam sit amet mi non placerat.</a></h3>
											<span class="greyline"></span>
											<span class="greyline small-greyline "></span>
											<p>
												Lorem ipsum dolor sit consectetur adipiscing elit. Vestibulum sit leo eu ipsum hendrerit consequat quis neque ornare arcu dapibus...
											</p>
											<a href="#" class="btn"> read more</a>
										</div>
									</div>
									<div class="content-one clearfix">
										<div class="description-fig-music">
											<img src="assets/images/blog-5.jpg" alt="" />
											<a href="#" class="list-music"><i class="icon-music-tone-alt icons"></i></a>
										</div>
										<div class="content-description">
											<ul>
												<li>
													april 25, 2016
												</li>
												<li>
													by: <a href="#">author</a>
												</li>
											</ul>
											<h3><a href="#">Ut faucibus purus massa ut lobortis.</a></h3>
											<span class="greyline"></span>
											<span class="greyline small-greyline "></span>
											<p>
												Lorem ipsum dolor sit consectetur adipiscing elit. Vestibulum sit leo eu ipsum hendrerit consequat quis neque ornare arcu dapibus...
											</p>
											<a href="#" class="btn"> read more</a>
										</div>
									</div>
									<div class="content-one clearfix">
										<div class="description-fig">
											<img src="assets/images/blog-6.jpg" alt="" />
										</div>
										<div class="content-description">
											<ul>
												<li>
													april 25, 2016
												</li>
												<li>
													by: <a href="#">henry dell</a>
												</li>
											</ul>
											<h3><a href="#">Fusce vitae consequat porttitor.</a></h3>
											<span class="greyline"></span>
											<span class="greyline small-greyline "></span>
											<p>
												Lorem ipsum dolor sit consectetur adipiscing elit. Vestibulum sit leo eu ipsum hendrerit consequat quis neque ornare arcu dapibus...
											</p>
											<a href="#" class="btn"> read more</a>
										</div>
									</div>
									<div class="blog-pagination">
										<ul>
											<li class="active">
												<a href="#">1</a>
											</li>
											<li>
												<a href="#">2</a>
											</li>
											<li>
												<a href="#">3</a>
											</li>
											<li>
												<a href="#"><i class="fa fa-long-arrow-right"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 no-padding">
									<div class="search-blog side-blog">
										<h4 class="blog-heading">Search Blog</h4>
										<form>
											<input type="text" placeholder="search..." />
											<input type="submit" value=""/>
											<span class="icon-magnifier icons submit-blog"></span>
										</form>
									</div>
									<div class="flickr side-blog">
										<h4 class="blog-heading">Flickr Follow</h4>
										<ul class="clearfix">
											<li>
												<a href="#"><img src="assets/images/blog-01.jpg" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="assets/images/blog-02.jpg" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="assets/images/blog-03.jpg" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="assets/images/blog-04.jpg" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="assets/images/blog-05.jpg" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="assets/images/blog-06.jpg" alt="" /></a>
											</li>
										</ul>
									</div>
									<div class="categories side-blog">
										<h4 class="blog-heading">Categories</h4>
										<ul>
											<li>
												<a href="#"> <i class="fa fa-caret-right"></i> <span class="category-item">Web Design</span> <span class="category-quantity">(13)</span> </a>
											</li>
											<li>
												<a href="#"> <i class="fa fa-caret-right"></i> <span class="category-item">Fashion</span> <span class="category-quantity">(21)</span> </a>
											</li>
											<li>
												<a href="#"> <i class="fa fa-caret-right"></i> <span class="category-item">Web Design</span> <span class="category-quantity">(18)</span> </a>
											</li>
											<li>
												<a href="#"> <i class="fa fa-caret-right"></i> <span class="category-item">PSD Template</span> <span class="category-quantity">(14)</span> </a>
											</li>
											<li>
												<a href="#"> <i class="fa fa-caret-right"></i> <span class="category-item">Videos</span> <span class="category-quantity">(05)</span> </a>
											</li>
										</ul>
									</div>
									<div class="popular side-blog">
										<h4 class="blog-heading">Popular Posts</h4>
										<ul>
											<li class="clearfix">
												<figure>
													<a href="#"><img src="assets/images/blog-07.jpg" alt="" /></a>
												</figure>
												<div class="popular-text">
													<span class="popular-date">Feb 21th,  2015</span>
													<strong> <a href="#">Aliquam interdum vitae tortor</a> </strong>
												</div>
											</li>
											<li class="clearfix">
												<figure>
													<a href="#"><img src="assets/images/blog-08.jpg" alt="" /></a>
												</figure>
												<div class="popular-text">
													<span class="popular-date">Mar 14th,  2015</span>
													<strong> <a href="#">Praesent ultrices nec mauris ornare</a> </strong>
												</div>
											</li>
											<li class="clearfix">
												<figure>
													<a href="#"><img src="assets/images/blog-09.jpg" alt="" /></a>
												</figure>
												<div class="popular-text">
													<span class="popular-date">Jan 23th,  2015</span>
													<strong> <a href="#">Nullam sed turpis ac magna</a> </strong>
												</div>
											</li>
										</ul>
									</div>
									<div class="hot-tag side-blog">
										<h4 class="blog-heading">Hot Tags</h4>
										<ul>
											<li>
												<a href="#">Fashion</a>
											</li>
											<li>
												<a href="#">Photoshop</a>
											</li>
											<li>
												<a href="#">Design</a>
											</li>
											<li>
												<a href="#">Typography</a>
											</li>
											<li>
												<a href="#">Business</a>
											</li>
											<li>
												<a href="#">Style</a>
											</li>
											<li>
												<a href="#">Collection</a>
											</li>
											<li>
												<a href="#">Women</a>
											</li>
										</ul>
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>
				<!--Section Content Ends Here-->
				<!--Contact us starts here -->
				<div class="contact-us">
					<div class=container>
						<div class="heading">
							<h2>Contact Us</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum augue nec augue aliquam facilisis. Vivamus malesuada dolor molestie vel nunc.
							</p>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="contact-info">
								<a href="#" class="contact-icon"><i class="icon-call-out"></i> </a>
								<a href="tel:6601234567890" class="contact-text"> +66 (0)123 456 7890</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="contact-info">
								<span  class="contact-icon"><i class="icon-location-pin"></i> </span>
								<span class="contact-text"> 3481 Melrose Place Beverly Hills, CA 90210</span>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="contact-info">
								<a href="#" class="contact-icon"><i class="icon-envelope-letter"></i> </a>
								<a href="mailto:admin@trasuaemplate.com" class="contact-text"> admin@trasuaemplate.com</a>
							</div>
						</div>
					</div>
				</div>
				<!--Contact us ends here -->
				<!-- Get In Touch Starts Here -->
				<div class="get-in-touch">
					<div class=container>

						<div class="form-area-wrap">

							<div class="heading">
								<h2>get in <strong>touch</strong></h2>

							</div>
							<div class="form-area">
								<form name="contactForm" method="post"  novalidate id="contact" class="contact-form" data-ng-controller='themeonCtrl'>
									<div class="col-xs-12 col-sm-6">
										<div class="necessary-info">
											<input id="name" class="contact-name" type="text" name="name" placeholder="Name*" required data-ng-model="contactformData.name"  data-ng-class="{'error' : contactForm.name.$error.pattern || submit && contactForm.name.$invalid}"/>
											<input id="email" class="contact-mail" type="email" name="email" placeholder="Email *" required data-ng-model="contactformData.email"   data-ng-class="{'error' : contactForm.email.$error.pattern || submit && contactForm.email.$invalid}"/>
											<input id="sub" class="contact-subject" type="text" name="subject" placeholder="Subject *" required data-ng-model="contactformData.subject" data-ng-class="{'error' : contactForm.subject.$error.required && contactForm.subject.$blured || submit && contactForm.subject.$invalid}"/>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div class="message-send">
											<textarea placeholder="Message *" id="message" name="message" data-ng-model="contactformData.message" required data-ng-class="{'error' : contactForm.message.$error.required && contactForm.message.$blured || submit && contactForm.message.$invalid}"></textarea>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="submit-btn">
											<a href="javascript:void(0)" class="btn comment-submit qoute-sub" data-ng-click="submitcontactForm(contactForm.$invalid)" data-ng-disabled="submitButtonDisabled"> submit </a>
										</div>
									</div>
								</form>
								<div style="display: none" id="contactSuccess">
									<span>Hey! Thanks for reaching out. I will get back to you soon</span>
								</div>
							</div>
						</div>

						<div class="reach-top-icon">
							<a href="#" class="top-large-arrow">&nbsp;</a>
							<a href="#" class="top-small-arrow">&nbsp;</a>
						</div>
					</div>
				</div>
				<!-- Get In Touch Ends Here -->

			</section>
			<!--Section Ends Here-->
			<!--Footer Section Start-->
			<footer id="footer" class="footer-one">
				<div class="container">
					<div class="social-media-wrap">
						<a href="#"><i class="fa fa-twitter"></i> </a>
						<a href="#"><i class="fa fa-facebook"></i> </a>
						<a href="#"><i class="fa fa-instagram"></i> </a>
						<a href="#"><i class="fa fa-pinterest-p"></i> </a>
						<a href="#"><i class="fa fa-behance"></i></a>

					</div>
					<div class="copy-right">
						Copyright &copy;2015 Designed by<a href="#"> Azuretheme.</a> All Rights Reserved.
					</div>
				</div>
			</footer>
			<!--Footer Section End-->
		</div>
		<!--Page Wrapper Ends-->

		<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="assets/js/less.js"></script>
		<script type="text/javascript" src="assets/js/angular.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>

		<script type="text/javascript" src="assets/js/jquery.flexslider.js"></script>
		<script type="text/javascript" src="assets/js/count.js"></script>
		<script type="text/javascript" src="assets/js/site.js"></script>
	</body>
</html>