<!DOCTYPE html>
<html lang="en" data-ng-app="themeonApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Welcome to Trasua</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/material-design-iconic-font.css" media="screen">
		<link href="assets/css/flexslider.css" type="text/css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/global.css" media="screen">
		<!-- RS5.0 Main Stylesheet -->
		<link rel="stylesheet" type="text/css" href="assets/css/settings.css">
		<!-- RS5.0 Layers and Navigation Styles -->
		<link rel="stylesheet" type="text/css" href="assets/css/layers.css">
		<link rel="stylesheet" type="text/css" href="assets/css/navigation.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css" media="screen">
		<link rel="stylesheet" type="text/less" href="assets/css/skin.css" media="screen">
	</head>
	<body>
		<!--Loader Start-->
		<div id="loading">
			<div id="loading-center">
				<div id="loading-center-absolute">
					<div class="object" id="object_four"></div>
					<div class="object" id="object_three"></div>
					<div class="object" id="object_two"></div>
					<div class="object" id="object_one"></div>
				</div>
			</div>
		</div>
		<!--Loader End-->
		<!--Page Wrapper Start-->
		<div id="wrapper" class="blog gallery">
			<!--Header Section Start-->
			<header id="header" class="header header-one">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-1">
							<a href="index.html" class="logo"> <img src="assets/images/home_1-logo.png" alt="logo" /></a>
						</div>
						<div class="col-xs-12 col-sm-11 nav-mob">
							<nav class="navbar">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>

								</div>
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li class="active has-sub">
											<a href="javascript:void(0);">Home</a>
											<ul class="sub-menu">
												<li>
													<a href="index.html">homepage 1</a>
												</li>
												<li>
													<a href="homepage-two.html">homepage 2</a>
												</li>
												<li>
													<a href="homepage-three.html">homepage 3</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">About</a>
										</li>
										<li>
											<a href="#">Teams</a>
										</li>
										<li class="has-sub">
											<a href="javascript:void(0);">Works</a>
											<ul class="sub-menu">
												<li>
													<a href="gallery-two.html">gallery 2</a>
												</li>
												<li>
													<a href="gallery-three.html">gallery 3</a>
												</li>
												<li>
													<a href="gallery-four.html">gallery 4</a>
												</li>
												<li>
													<a href="gallery-five.html">gallery 5</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">services</a>
										</li>
										<li>
											<a href="#">pricing</a>
										</li>
										<li class="has-sub">
											<a href="javascript:void(0);">blog</a>
											<ul class="sub-menu">
												<li>
													<a href="blog-standard.html">blog standard</a>
												</li>
												<li>
													<a href="blog-list.html">blog list</a>
												</li>
												<li>
													<a href="blog-detail.html">blog detail</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">contact</a>
										</li>
									</ul>
								</div><!-- /.navbar-collapse -->
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!--Header Section Ends-->

			<!--Section Starts Here-->

			<!--Banner Starts Here-->
			<div class="banner">
				<div class="small-banner-text">
					<span class="icon-layers icons"> </span>
					<h1><strong>Latest Works</strong></h1>
					<ul>
						<li>
							<a href="index.html">home</a>
						</li>
						<li>
							<a href="#">Latest Works</a>
						</li>
					</ul>
				</div>
			</div>
			<!--Banner Ends Here-->

			<!--Section Content Starts Here-->
			<div class="section-content">
				<section id="lates-work">

					<ul class="nav nav-tabs">
						<li class="all">
							<a href="javascript:void(0)">All</a>
						</li>
						<li class="brand">
							<a href="javascript:void(0)">Branding</a>
						</li>
						<li class="print">
							<a href="javascript:void(0)">Print</a>
						</li>
						<li class="photoshop">
							<a href="javascript:void(0)">Photoshop</a>
						</li>
						<li class="video">
							<a href="javascript:void(0)">Videos</a>
						</li>
					</ul>

					<ul class="thumb-wrap clearfix">
						<li class="profile-des-wrap all main-item">
							<figure>
								<img src="assets/images/img-016.jpg" alt="#">
							</figure>
							<div class="author-wrap">
								<div class="author">
									<h4>Park banff canada</h4>
									<span>Label Print</span>
								</div>
								<div class="arrow-right"></div>
								<a href="#"><i class="icon-arrow-right-circle"></i></a>
							</div>
						</li>
						<li class="profile-des-wrap all brand main-item">
							<figure>
								<img src="assets/images/img-017.jpg" alt="#">
							</figure>
							<div class="author-wrap">
								<div class="author">
									<h4>Broucher Beshkins</h4>
									<span>Broucher Design</span>
								</div>
								<div class="arrow-right"></div>
								<a href="#"><i class="icon-arrow-right-circle"></i></a>
							</div>
						</li>
						<li class="profile-des-wrap print all main-item">
							<figure>
								<img src="assets/images/img-018.jpg" alt="#">
							</figure>
							<div class="author-wrap">
								<div class="author">
									<h4>Rubber stamp</h4>
									<span>Branding</span>
								</div>
								<div class="arrow-right"></div>
								<a href="#"><i class="icon-arrow-right-circle"></i></a>
							</div>
						</li>
						<li class="profile-des-wrap photoshop all main-item">
							<figure>
								<img src="assets/images/img-019.jpg" alt="#">
							</figure>
							<div class="author-wrap">
								<div class="author">
									<h4>Allen Broucher</h4>
									<span>Branding Identity</span>
								</div>
								<div class="arrow-right"></div>
								<a href="#"><i class="icon-arrow-right-circle"></i></a>
							</div>
						</li>
						<li class="profile-des-wrap print all main-item">
							<figure>
								<img src="assets/images/img-020.jpg" alt="#">
							</figure>
							<div class="author-wrap">
								<div class="author">
									<h4>Simple Genius</h4>
									<span>Capture Digital</span>
								</div>
								<div class="arrow-right"></div>
								<a href="#"><i class="icon-arrow-right-circle"></i></a>
							</div>
						</li>

						<li class="profile-des-wrap brand all main-item">
							<figure>
								<img src="assets/images/img-021.jpg" alt="#">
							</figure>
							<div class="author-wrap">
								<div class="author">
									<h4>Art for Offices</h4>
									<span>Artwork</span>
								</div>
								<div class="arrow-right"></div>
								<a href="#"><i class="icon-arrow-right-circle"></i></a>
							</div>
						</li>
						<li class="profile-des-wrap photoshop all main-item">
							<figure>
								<img src="assets/images/img-022.jpg" alt="#">
							</figure>
							<div class="author-wrap">
								<div class="author">
									<h4>Uni Twiss Coffe</h4>
									<span>Design</span>
								</div>
								<div class="arrow-right"></div>
								<a href="#"><i class="icon-arrow-right-circle"></i></a>
							</div>
						</li>
						<li class="profile-des-wrap all main-item">
							<figure>
								<img src="assets/images/img-023.jpg" alt="#">
							</figure>
							<div class="author-wrap">
								<div class="author">
									<h4>Business Cart Pro</h4>
									<span>Print, Brading</span>
								</div>
								<div class="arrow-right"></div>
								<a href="#"><i class="icon-arrow-right-circle"></i></a>
							</div>
						</li>
						<li class="profile-des-wrap all video main-item">
							<figure>
								<img src="assets/images/img-024.jpg" alt="#">
							</figure>
							<div class="author-wrap">
								<div class="author">
									<h4>Thomsoon Cart Project</h4>
									<span>Branding Identity</span>
								</div>
								<div class="arrow-right"></div>
								<a href="#"><i class="icon-arrow-right-circle"></i></a>
							</div>
						</li>
						<li class="profile-des-wrap all main-item photoshop">
							<figure>
								<img src="assets/images/img-025.jpg" alt="#">
							</figure>
							<div class="author-wrap">
								<div class="author">
									<h4>Skilet Album Cover</h4>
									<span>Video, Music</span>
								</div>
								<div class="arrow-right"></div>
								<a href="#"><i class="icon-arrow-right-circle"></i></a>
							</div>
						</li>
						<li class="profile-des-wrap all main-item print">
							<figure>
								<img src="assets/images/img-026.jpg" alt="#">
							</figure>
							<div class="author-wrap">
								<div class="author">
									<h4>Awesome Work Title</h4>
									<span>Photography</span>
								</div>
								<div class="arrow-right"></div>
								<a href="#"><i class="icon-arrow-right-circle"></i></a>
							</div>
						</li>
						<li class="profile-des-wrap all main-item brand">
							<figure>
								<img src="assets/images/img-027.jpg" alt="#">
							</figure>
							<div class="author-wrap">
								<div class="author">
									<h4>Camp Pine Tree</h4>
									<span>Web Design</span>
								</div>
								<div class="arrow-right"></div>
								<a href="#"><i class="icon-arrow-right-circle"></i></a>
							</div>
						</li>
					</ul>

					<a class="btn view-more" href="gallery-three.html"> load more</a>
				</section>
				<section class="contact-us">
					<div class=container>
						<div class="heading">
							<h2>Contact Us</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum augue nec augue aliquam facilisis. Vivamus malesuada dolor molestie vel nunc.
							</p>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="contact-info">
								<a href="#" class="contact-icon"><i class="icon-call-out"></i> </a>
								<a href="tel:6601234567890" class="contact-text"> +66 (0)123 456 7890</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="contact-info">
								<span  class="contact-icon"><i class="icon-location-pin"></i> </span>
								<span class="contact-text"> 3481 Melrose Place Beverly Hills, CA 90210</span>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="contact-info">
								<a href="#" class="contact-icon"><i class="icon-envelope-letter"></i> </a>
								<a href="mailto:admin@trasuaemplate.com" class="contact-text"> admin@trasuaemplate.com</a>
							</div>
						</div>
					</div>
				</section>
				<section class="get-in-touch">
					<div class=container>
						<div class="form-area-wrap">
							<div class="heading">
								<h2>get in <strong>touch</strong></h2>
							</div>
							<div class="form-area">
								<form name="contactForm" method="post"  novalidate id="contact" class="contact-form" data-ng-controller='themeonCtrl'>
									<div class="col-xs-12 col-sm-6">
										<div class="necessary-info">
											<input id="name" class="contact-name" type="text" name="name" placeholder="Name*" required data-ng-model="contactformData.name"  data-ng-class="{'error' : contactForm.name.$error.pattern || submit && contactForm.name.$invalid}"/>
											<input id="email" class="contact-mail" type="email" name="email" placeholder="Email *" required data-ng-model="contactformData.email"   data-ng-class="{'error' : contactForm.email.$error.pattern || submit && contactForm.email.$invalid}"/>
											<input id="sub" class="contact-subject" type="text" name="subject" placeholder="Subject *" required data-ng-model="contactformData.subject" data-ng-class="{'error' : contactForm.subject.$error.required && contactForm.subject.$blured || submit && contactForm.subject.$invalid}"/>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div class="message-send">
											<textarea placeholder="Message *" id="message" name="message" data-ng-model="contactformData.message" required data-ng-class="{'error' : contactForm.message.$error.required && contactForm.message.$blured || submit && contactForm.message.$invalid}"></textarea>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="submit-btn">
											<a href="javascript:void(0)" class="btn comment-submit qoute-sub" data-ng-click="submitcontactForm(contactForm.$invalid)" data-ng-disabled="submitButtonDisabled"> submit </a>
										</div>
									</div>
								</form>
								<div style="display: none" id="contactSuccess">
									<span>Hey! Thanks for reaching out. I will get back to you soon</span>
								</div>
							</div>
						</div>

						<div class="reach-top-icon">
							<a href="#" class="top-large-arrow">&nbsp;</a>
							<a href="#" class="top-small-arrow">&nbsp;</a>
						</div>
					</div>

				</section>

			</div>
			<!--Section Content Ends Here-->

			<!--Footer Section Start-->
			<footer id="footer" class="footer-one">
				<div class="container">
					<div class="social-media-wrap">
						<a href="#"><i class="fa fa-twitter"></i> </a>
						<a href="#"><i class="fa fa-facebook"></i> </a>
						<a href="#"><i class="fa fa-instagram"></i> </a>
						<a href="#"><i class="fa fa-pinterest-p"></i> </a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
					<div class="copy-right">
						Copyright &copy;2015 Designed by<a href="#"> Azuretheme.</a> All Rights Reserved.
					</div>
				</div>
			</footer>
			<!--Footer Section End-->

		</div>
		<!--Page Wrapper Ends-->

		<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="assets/js/less.js"></script>
		<script type="text/javascript" src="assets/js/angular.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>
		<script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>

		<!-- revolution Js -->
		<!-- RS5.0 Core JS Files -->
		<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.revolution.js"></script>
		<!-- revolution Js-->
		<script type="text/javascript" src="assets/js/jquery.flexslider.js"></script>
		<script type="text/javascript" src="assets/js/count.js"></script>
		<script type="text/javascript" src="assets/js/site.js"></script>

	</body>
</html>