<!DOCTYPE html>
<html lang="en" data-ng-app="themeonApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Welcome to Trasua</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/material-design-iconic-font.css" media="screen">
		<link href="assets/css/owl.carousel.css" type="text/css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/global.css" media="screen">
		<!-- RS5.0 Main Stylesheet -->
		<link rel="stylesheet" type="text/css" href="assets/css/settings.css">
		<!-- RS5.0 Layers and Navigation Styles -->
		<link rel="stylesheet" type="text/css" href="assets/css/layers.css">
		<link rel="stylesheet" type="text/css" href="assets/css/navigation.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css" media="screen">
		<link rel="stylesheet" type="text/less" href="assets/css/skin.css" media="screen">
	</head>
	<body>
		<!--Loader Start-->
		<div id="loading">
			<div id="loading-center">
				<div id="loading-center-absolute">
					<div class="object" id="object_four"></div>
					<div class="object" id="object_three"></div>
					<div class="object" id="object_two"></div>
					<div class="object" id="object_one"></div>

				</div>
			</div>
		</div>
		<!--Loader End-->
		<!--Page Wrapper Start-->
		<div id="wrapper" class="homepage-two">
			<!--Header Section Start-->
			<header id="header" class="header header-two">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 nav-mob">
							<nav class="navbar">

								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li class="active has-sub anchorlink">
											<a data-id="#home-sec">Home</a>
										</li>
										<li class="anchorlink">
											<a data-id="#about-us">About</a>
										</li>
										<li class="anchorlink">
											<a data-id="#skill">skills</a>
										</li>
										<li class="anchorlink">
											<a data-id="#our-team">Teams</a>
										</li>
										<li class="has-sub anchorlink">
											<a data-id="#lates-work">Work</a>
										</li>
										<li class="anchorlink space">
											<a data-id="#our-service">Services</a>
										</li>
										<li class="anchorlink">
											<a data-id="#pricing">pricing</a>
										</li>
										<li class="has-sub anchorlink">
											<a data-id="#our-blog">blog</a>
										</li>
										<li class="anchorlink">
											<a data-id="#contact-us">contact</a>
										</li>
										<li>
											<a href="javascript:void(0);">Pages</a>
											<ul class="sub-menu">
												<li>
													<a href="index.html">homepage 1</a>
												</li>
												<li>
													<a href="homepage-two.html">homepage 2</a>
												</li>
												<li>
													<a href="homepage-three.html">homepage 3</a>
												</li>
												<li>
													<a href="gallery-two.html">gallery 2</a>
												</li>
												<li>
													<a href="gallery-three.html">gallery 3</a>
												</li>
												<li>
													<a href="gallery-four.html">gallery 4</a>
												</li>
												<li>
													<a href="gallery-five.html">gallery 5</a>
												</li>
												<li>
													<a href="blog-standard.html">blog standard</a>
												</li>
												<li>
													<a href="blog-list.html">blog list</a>
												</li>
												<li>
													<a href="blog-detail.html">blog detail</a>
												</li>
											</ul>
										</li>
									</ul>
								</div><!-- /.navbar-collapse -->
							</nav>
							<a href="index.html" class="logo"><img src="assets/images/home-2-logo.png" alt="Logo" /></a>
						</div>
					</div>
				</div>
			</header>
			<!--Header Section End-->
			<section class="home_one-banner" id="home-sec">
				<!-- START REVOLUTION SLIDER 5.0 -->
				<div class="rev_slider_wrapper">
					<div id="slider1" class="rev_slider"  data-version="5.0">
						<ul>
							<li data-transition="fade">
								<!-- MAIN IMAGE -->
								<img src="assets/images/banner-2.jpg"  alt="" >
								<div class="banner-text">
									<!-- LAYER NR. 1 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-396-layer-4"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="4000"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05" style= "font-family: 'dancing_scriptbold';	font-size: 34px;	font-weight: 400;	color: #202020;">
										<span>Dynamic Development</span>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-397-layer-2"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="-70"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
									data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="2000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on" style = "font-weight: 400;">
										<div class="inner-banner-text">
											<strong>We Are TraSua</strong>
										</div>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption BigBold-Button rev-btn "
									id="slide-396-layer-5"
									data-x="center" data-hoffset=""
									data-y="bottom" data-voffset="40"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
									data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 0);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;s:1000;"
									data-start="5000"
									data-splitin="none"
									data-splitout="none"
									data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
									data-responsive_offset="on"
									data-responsive="off">
										<a href="#" class="main-btn">learn more</a>
										<a href="#" class="main-btn">get started</a>
									</div>
								</div>
							</li>
							<li data-transition="fade">
								<!-- MAIN IMAGE -->
								<img src="assets/images/home_1-slide1.jpg"  alt="" >
								<div class="banner-text">
									<!-- LAYER NR. 1 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-396-layer-6"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="4000"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05" style= "font-family: 'dancing_scriptbold';	font-size: 34px;	font-weight: 400;	color: #202020;">
										<span>Dynamic Development</span>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-397-layer-7"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="-70"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
									data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="2000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on" style = "font-weight: 400;">
										<div class="inner-banner-text">
											<strong>We Are TraSua</strong>
										</div>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption BigBold-Button rev-btn "
									id="slide-396-layer-8"
									data-x="center" data-hoffset=""
									data-y="bottom" data-voffset="40"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
									data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 0);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;s:1000;"
									data-start="5000"
									data-splitin="none"
									data-splitout="none"
									data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
									data-responsive_offset="on"
									data-responsive="off">
										<a href="#" class="main-btn">learn more</a>
										<a href="#" class="main-btn">get started</a>
									</div>
								</div>
							</li>
							<li data-transition="fade" class="white-text">
								<!-- MAIN IMAGE -->
								<img src="assets/images/home_3-slide1.jpg"  alt="" >
								<div class="banner-text">
									<!-- LAYER NR. 1 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-396-layer-9"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="4000"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05" style= "font-family: 'dancing_scriptbold';	font-size: 34px;	font-weight: 400;	color: #202020;">
										<span>Dynamic Development</span>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-397-layer-10"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="-70"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
									data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="2000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on" style = "font-weight: 400;">
										<div class="inner-banner-text">
											<strong>We Are TraSua</strong>
										</div>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption BigBold-Button rev-btn "
									id="slide-396-layer-11"
									data-x="center" data-hoffset=""
									data-y="bottom" data-voffset="40"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
									data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 0);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;s:1000;"
									data-start="5000"
									data-splitin="none"
									data-splitout="none"
									data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
									data-responsive_offset="on"
									data-responsive="off">
										<a href="#" class="main-btn white-line">learn more</a>
										<a href="#" class="main-btn white-line">get started</a>
									</div>
								</div>
							</li>
						</ul>
					</div><!-- END REVOLUTION SLIDER -->
					<a href="#" class="scroll-down"> </a>
				</div><!-- END OF SLIDER WRAPPER -->
			</section>
			<!--Content Area Start-->
			<div id="content">
				<section class="contact-us who-we-are-wrap" id="about-us">
					<div class=container>
						<div class="who-we-are">
							<div class="heading">
								<h2><span>who</span>we are?</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum augue nec augue aliquam facilisis. Vivamus malesuada dolor nec urna fringilla molestie. Integer vel nunc vitae dui varius tempor pretium quis lorem.
								</p>
							</div>
							<div id="who-we-are-slider">
								<div class="item">
									<div class="contact-info">
										<a href="#" class="contact-icon"><i class="icon-layers icons"></i> </a>
										<strong> Print &amp; Branding </strong>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque ornare nisl amet pharetra lacus.
										</p>
									</div>
								</div>
								<div class="item">
									<div class="contact-info">
										<a href="#" class="contact-icon"><i class="icon-rocket icons"></i> </a>
										<strong> Photography </strong>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque ornare nisl amet pharetra lacus.
										</p>
									</div>
								</div>
								<div class="item">
									<div class="contact-info">
										<a href="#" class="contact-icon"><i class="icon-diamond icons"></i> </a>
										<strong> Unique Design </strong>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque ornare nisl amet pharetra lacus.
										</p>
									</div>
								</div>
								<div class="item">
									<div class="contact-info">
										<a href="#" class="contact-icon"><i class="icon-layers icons"></i> </a>
										<strong> Print &amp; Branding </strong>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque ornare nisl amet pharetra lacus.
										</p>
									</div>
								</div>
								<div class="item">
									<div class="contact-info">
										<a href="#" class="contact-icon"><i class="icon-rocket icons"></i> </a>
										<strong> Photography </strong>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque ornare nisl amet pharetra lacus.
										</p>

									</div>
								</div>
								<div class="item">
									<div class="contact-info">
										<a href="#" class="contact-icon"><i class="icon-diamond icons"></i> </a>
										<strong> Unique Design </strong>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque ornare nisl amet pharetra lacus.
										</p>

									</div>
								</div>
								<div class="item">
									<div class="contact-info">
										<a href="#" class="contact-icon"><i class="icon-layers icons"></i> </a>
										<strong> Print &amp; Branding </strong>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque ornare nisl amet pharetra lacus.
										</p>

									</div>
								</div>
								<div class="item">
									<div class="contact-info">
										<a href="#" class="contact-icon"><i class="icon-rocket icons"></i> </a>
										<strong> Photography </strong>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque ornare nisl amet pharetra lacus.
										</p>

									</div>
								</div>
								<div class="item">
									<div class="contact-info">
										<a href="#" class="contact-icon"><i class="icon-diamond icons"></i> </a>
										<strong> Unique Design </strong>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque ornare nisl amet pharetra lacus.
										</p>

									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="skills" id="skill">
					<!-- <div class="row"> -->
					<div class="color clearfix">
						<div class="left-sec">
							<img src="assets/images/video.jpg" alt="" data-video="https://www.youtube.com/embed/xW_AsV7k42o">
							<div class="control">
								<button class="play-btn" type="button"></button>
							</div>
						</div>
						<div class="right-sec">
							<div class="there skl">
								<span>Our<span>skill</span></span>
							</div>
							<div class="para-wrap">
								<p>
									Lorem ipsum dolor amet, consectetur adipiscing elit.
									Nam rutrum augue nec augue aliquam facilisis fringilla.
								</p>
							</div>
							<div class="progress-wrapper clearfix">
								<div class="photo-wrap">
									<span>70%</span>
								</div>
								<div class="progress-content">
									<span>Photoshop</span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
											<span class="sr-only">70% Complete</span>
										</div>
									</div>
								</div>
							</div>
							<div class="progress-wrapper clearfix">
								<div class="photo-wrap">
									<span>45%</span>
								</div>
								<div class="progress-content">
									<span>marketing</span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
											<span class="sr-only">45% Complete</span>
										</div>
									</div>
								</div>
							</div>
							<div class="progress-wrapper clearfix">
								<div class="photo-wrap">
									<span>88%</span>
								</div>
								<div class="progress-content">
									<span>development</span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">
											<span class="sr-only">88% Complete</span>
										</div>
									</div>
								</div>
							</div>
							<div class="progress-wrapper clearfix">
								<div class="photo-wrap">
									<span>65%</span>
								</div>
								<div class="progress-content">
									<span>java script</span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
											<span class="sr-only">65% Complete</span>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<!-- 	</div> -->
				</section>
				<section class="amazin-team" id="our-team">
					<div class=container>
						<div class="row">
							<h2>Our Amazing <strong>Team</strong></h2>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-2 lg-one">
								<figure>
									<img src="assets/images/img-1.png" alt="#">
								</figure>
								<div class="img-wrapper">
									<div class="profile-info">
										<h4>Ellizabeth Taylor</h4>
										<small>Marketing Senior</small>
									</div>
									<div class="social-wrap">
										<a href="#"> <i class="fa fa-facebook"> </i> </a>
										<a href="#"> <i class="fa fa-twitter"> </i> </a>
										<a href="#"> <i class="fa fa-behance"> </i> </a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-2 lg-one">
								<figure>
									<img src="assets/images/img-2.png" alt="#">
								</figure>
								<div class="img-wrapper">
									<div class="profile-info">
										<h4>Ellizabeth Taylor</h4>
										<small>Marketing Senior</small>
									</div>
									<div class="social-wrap">
										<a href="#"> <i class="fa fa-facebook"> </i> </a>
										<a href="#"> <i class="fa fa-twitter"> </i> </a>
										<a href="#"> <i class="fa fa-behance"> </i> </a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-2 lg-one">
								<figure>
									<img src="assets/images/img-3.png" alt="#">
								</figure>
								<div class="img-wrapper">
									<div class="profile-info">
										<h4>Ellizabeth Taylor</h4>
										<small>Marketing Senior</small>
									</div>
									<div class="social-wrap">
										<a href="#"> <i class="fa fa-facebook"> </i> </a>
										<a href="#"> <i class="fa fa-twitter"> </i> </a>
										<a href="#"> <i class="fa fa-behance"> </i> </a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-2 lg-one">
								<figure>
									<img src="assets/images/img-4.png" alt="#">
								</figure>
								<div class="img-wrapper">
									<div class="profile-info">
										<h4>Ellizabeth Taylor</h4>
										<small>Marketing Senior</small>
									</div>
									<div class="social-wrap">
										<a href="#"> <i class="fa fa-facebook"> </i> </a>
										<a href="#"> <i class="fa fa-twitter"> </i> </a>
										<a href="#"> <i class="fa fa-behance"> </i> </a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-2 lg-one">
								<figure>
									<img src="assets/images/img-5.png" alt="#">
								</figure>
								<div class="img-wrapper">
									<div class="profile-info">
										<h4>Ellizabeth Taylor</h4>
										<small>Marketing Senior</small>
									</div>
									<div class="social-wrap">
										<a href="#"> <i class="fa fa-facebook"> </i> </a>
										<a href="#"> <i class="fa fa-twitter"> </i> </a>
										<a href="#"> <i class="fa fa-behance"> </i> </a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-2 lg-one">
								<figure>
									<img src="assets/images/img-6.png" alt="#">
								</figure>
								<div class="img-wrapper">
									<div class="profile-info">
										<h4>Ellizabeth Taylor</h4>
										<small>Marketing Senior</small>
									</div>
									<div class="social-wrap">
										<a href="#"> <i class="fa fa-facebook"> </i> </a>
										<a href="#"> <i class="fa fa-twitter"> </i> </a>
										<a href="#"> <i class="fa fa-behance"> </i> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="lates-work">
					<div class="container-fluid">
						<h2>Our Latest <strong>Works</strong></h2>
						<ul class="nav nav-tabs">
							<li class="all">
								<a href="javascript:void(0)">All</a>
							</li>
							<li class="brand">
								<a href="javascript:void(0)">Branding</a>
							</li>
							<li class="print">
								<a href="javascript:void(0)">Print</a>
							</li>
							<li class="photoshop">
								<a href="javascript:void(0)">Photoshop</a>
							</li>
							<li class="video">
								<a href="javascript:void(0)">Videos</a>
							</li>
						</ul>
						<ul class="thumb-wrap clearfix">
							<li class="profile-des-wrap all main-item">
								<a href="#">
								<figure>
									<img src="assets/images/thumb-bg1.png" alt="#">
								</figure> </a>
								<div class="author-wrap">
									<div class="author">
										<h4>Thomsoon Cart Project</h4>
										<span>Branding Identity</span>
									</div>
									<div class="arrow-right"></div>
									<a href="#"><i class="icon-arrow-right-circle"></i></a>
								</div>
							</li>
							<li class="profile-des-wrap all brand main-item">
								<a href="#">
								<figure>
									<img src="assets/images/thumb-bg2.png" alt="#">
								</figure> </a>
								<div class="author-wrap">
									<div class="author">
										<h4>Thomsoon Cart Project</h4>
										<span>Branding Identity</span>
									</div>
									<div class="arrow-right"></div>
									<a href="#"><i class="icon-arrow-right-circle"></i></a>
								</div>
							</li>
							<li class="profile-des-wrap print all main-item">
								<a href="#">
								<figure>
									<img src="assets/images/thumb-bg3.png" alt="#">
								</figure> </a>
								<div class="author-wrap">
									<div class="author">
										<h4>Thomsoon Cart Project</h4>
										<span>Branding Identity</span>
									</div>
									<div class="arrow-right"></div>
									<a href="#"><i class="icon-arrow-right-circle"></i></a>
								</div>
							</li>
							<li class="profile-des-wrap photoshop all main-item">
								<a href="#">
								<figure>
									<img src="assets/images/thumb-bg4.png" alt="#">
								</figure> </a>
								<div class="author-wrap">
									<div class="author">
										<h4>Thomsoon Cart Project</h4>
										<span>Branding Identity</span>
									</div>
									<div class="arrow-right"></div>
									<a href="#"><i class="icon-arrow-right-circle"></i></a>
								</div>
							</li>
							<li class="profile-des-wrap print all main-item">
								<a href="#">
								<figure>
									<img src="assets/images/thumb-bg5.png" alt="#">
								</figure> </a>
								<div class="author-wrap">
									<div class="author">
										<h4>Thomsoon Cart Project</h4>
										<span>Branding Identity</span>
									</div>
									<div class="arrow-right"></div>
									<a href="#"><i class="icon-arrow-right-circle"></i></a>
								</div>
							</li>

							<li class="profile-des-wrap brand all main-item">
								<a href="#">
								<figure>
									<img src="assets/images/thumb-bg6.png" alt="#">

								</figure> </a>
								<div class="author-wrap">
									<div class="author">
										<h4>Thomsoon Cart Project</h4>
										<span>Branding Identity</span>
									</div>
									<div class="arrow-right"></div>
									<a href="#"><i class="icon-arrow-right-circle"></i></a>
								</div>
							</li>
							<li class="profile-des-wrap photoshop all main-item">
								<a href="#">
								<figure>
									<img src="assets/images/thumb-bg7.png" alt="#">
								</figure> </a>
								<div class="author-wrap">
									<div class="author">
										<h4>Thomsoon Cart Project</h4>
										<span>Branding Identity</span>
									</div>
									<div class="arrow-right"></div>
									<a href="#"><i class="icon-arrow-right-circle"></i></a>
								</div>
							</li>
							<li class="profile-des-wrap all main-item">
								<a href="#">
								<figure>
									<img src="assets/images/thumb-bg8.png" alt="#">

								</figure> </a>
								<div class="author-wrap">
									<div class="author">
										<h4>Thomsoon Cart Project</h4>
										<span>Branding Identity</span>
									</div>
									<div class="arrow-right"></div>
									<a href="#"><i class="icon-arrow-right-circle"></i></a>
								</div>
							</li>
						</ul>

						
						<a class="btn view-more" href="gallery-three.html"> load more</a>
					</div>
				</section>
				<section class="work-progress">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 text-center ">
								<h2>Working <strong>Process</strong></h2>
								<div class="para-wrap">
									<p>
										Lorem ipsum dolor sit amet consectetur rutrum augue adipiscing elit.
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<figure>
									<img src="assets/images/large-bg.png" alt="#">
								</figure>
							</div>
							<div class="col-xs-12 col-sm-6 col-sm-pull-1">
								<div class="slider-two-wrapper">
									<div class="slider-two">
										<div class="plan">
											<span>02</span>
											<strong>Graphic Design</strong>
											<p>
												Lorem ipsum sit amet, consectetur adipiscing. Donec non pharetra massa,
												consequat lorem. Suspendisse porttitor feugiat turpis tincidunt. Phasellus
												ullamcorper diam felis convallis malesuada. Vestibulum non imperdiet mauris.
												Ut vitae dui sem...
											</p>
											<a href="#" class="btn">read more</a>
										</div>
										<div class="plan">
											<span>02</span>
											<strong>Graphic Design</strong>
											<p>
												Lorem ipsum sit amet, consectetur adipiscing. Donec non pharetra massa,
												consequat lorem. Suspendisse porttitor feugiat turpis tincidunt. Phasellus
												ullamcorper diam felis convallis malesuada. Vestibulum non imperdiet mauris.
												Ut vitae dui sem...
											</p>
											<a href="#" class="btn">sign up</a>
										</div>
										<div class="plan">
											<span>02</span>
											<strong>Graphic Design</strong>
											<p>
												Lorem ipsum sit amet, consectetur adipiscing. Donec non pharetra massa,
												consequat lorem. Suspendisse porttitor feugiat turpis tincidunt. Phasellus
												ullamcorper diam felis convallis malesuada. Vestibulum non imperdiet mauris.
												Ut vitae dui sem...
											</p>
											<a href="#" class="btn">sign up</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row text-center happy-client">
							<div class="col-xs-12 col-sm-3">
								<div class="happy not-happy">
									<strong class="client-happy"></strong>
									<span>Happy Clients</span>
								</div>
							</div>
							<div class="col-xs-12 col-sm-3">
								<div class="happy">
									<strong  class="finise-project" ></strong>
									<span class="active">Projects Finished</span>
								</div>
							</div>
							<div class="col-xs-12 col-sm-3">
								<div class="happy">
									<strong class="fb-likes"></strong>
									<span>Facebook likes</span>
								</div>
							</div>
							<div class="col-xs-12 col-sm-3">
								<div class="happy">
									<strong class="member-t"></strong>
									<span>Team members</span>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="our-services clearfix" id="our-service">
					<div class="our-service-cont">
						<h2>Our<strong>Services</strong></h2>
						<p>
							Cum sociis natoque et magnis dis parturient montes.
						</p>
						<ul class="service-info-wrap inner-header-wraper">
							<li class="clearfix zoom">
								<span class="icon-paper-plane"> </span>
								<div class="inner-header-wraper">
									<i class="service-bg icon-unique"> </i>
									<h3><strong>u</strong><small>Unique Design</small></h3>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tellus arcu, laoreet eget iaculis.
									</p>
								</div>
							</li>
							<li class="clearfix zoom">
								<span class="zmdi zmdi-toys zmdi-hc-fw"> </span>
								<div class="inner-header-wraper">
									<i class="service-bg icon-unique"> </i>
									<h3><strong>b</strong><small>Branding &amp; Identity</small></h3>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tellus arcu, laoreet eget iaculis.
									</p>
								</div>
							</li>
							<li class="clearfix zoom">
								<span class="icon-umbrella"> </span>
								<div class="inner-header-wraper">
									<i class="service-bg icon-unique"> </i>
									<h3><strong>g</strong><small>Graphic Design</small></h3>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tellus arcu, laoreet eget iaculis.
									</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="our-service-blank"> </div>
				</section>
				<section class="our-pricing" id="pricing">
					<div class=container>
						<div class="row">
							<div class="heading text-center ">
								<h2>Our <strong> Pricing</strong></h2>
								<p>
									Lorem ipsum dolor sit amet consectetur rutrum augue adipiscing elit.
								</p>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="pricing-img">
									<img src="assets/images/img-7.jpg" alt="" />
								</div>
								<div class="pricing-wrap">
									<div class="pricing-amount">
										<sup>$</sup><strong>15.99</strong><sub>/MO</sub>
									</div>
									<div class="pricing-details">
										<strong> basic</strong>
										<ul class="star">
											<li></li>
											<li></li>
											<li></li>
										</ul>
										<p>
											10 Deoarttaments
											100 Tests and Treatments
											1 Time a Year
											24h Assistance
											256 Gb Praesent Pellen
										</p>
										<a href="#">sign up </a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="pricing-img">
									<img src="assets/images/img-8.jpg" alt="" />
								</div>
								<div class="pricing-wrap">
									<div class="pricing-amount">
										<sup>$</sup><strong>20.99</strong><sub>/MO</sub>
									</div>
									<div class="pricing-details">
										<strong> Business</strong>
										<ul class="star">
											<li></li>
											<li></li>
											<li></li>
										</ul>
										<p>
											10 Deoarttaments
											100 Tests and Treatments
											1 Time a Year
											24h Assistance
											256 Gb Praesent Pellen
										</p>
										<a href="#">sign up </a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="pricing-img">
									<img src="assets/images/img-9.jpg" alt="" />
								</div>
								<div class="pricing-wrap">
									<div class="pricing-amount">
										<sup>$</sup><strong>25.99</strong><sub>/MO</sub>
									</div>
									<div class="pricing-details">
										<strong> Premium</strong>
										<ul class="star">
											<li></li>
											<li></li>
											<li></li>
										</ul>
										<p>
											10 Deoarttaments
											100 Tests and Treatments
											1 Time a Year
											24h Assistance
											256 Gb Praesent Pellen
										</p>
										<a href="#">sign up </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="tesimonials">
					<div class=container>
						<div class="row">
							<div class="col-sm-6">
								<img src="assets/images/testimonial-img.jpg" alt="" />
							</div>
							<div class="col-sm-6 padd-top">
								<div class="quote-wraper">
									<div id="testimonial-slider" class="owl-carousel owl-theme">
										<div class="testimonial-quote">
											<p>
												Claritas etiam processus dynamicus sequitur mutationem consuetudium lectorum. Mirumo notare quam littera gothica quamun putamus parum claram viderer eleifend.
											</p>
											<img src="assets/images/line-2.png" alt="">
											<strong> Allan Lissa</strong>
											<span> Web Design </span>
										</div>
										<div class="testimonial-quote">
											<p>
												Claritas etiam processus dynamicus sequitur mutationem consuetudium lectorum. Mirumo notare quam littera gothica quamun putamus parum claram viderer eleifend.
											</p>
											<img src="assets/images/line-2.png" alt="">
											<strong> Allan Lissa</strong>
											<span> Web Design </span>
										</div>
										<div class="testimonial-quote">
											<p>
												Claritas etiam processus dynamicus sequitur mutationem consuetudium lectorum. Mirumo notare quam littera gothica quamun putamus parum claram viderer eleifend.
											</p>
											<img src="assets/images/line-2.png" alt="">
											<strong> Allan Lissa</strong>
											<span> Web Design </span>
										</div>
										<div class="testimonial-quote">
											<p>
												Claritas etiam processus dynamicus sequitur mutationem consuetudium lectorum. Mirumo notare quam littera gothica quamun putamus parum claram viderer eleifend.
											</p>
											<img src="assets/images/line-2.png" alt="">
											<strong> Allan Lissa</strong>
											<span> Web Design </span>
										</div>
									</div>
									<small class="quote-icon"><i class="fa fa-quote-right">&nbsp;</i> </small>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="partners-wrapper">
					<div class=container>
						<div class="row">
							<div class="partners-slider owl-carousel owl-theme">
								<div>
									<a href="#"><img src="assets/images/logo-01.png" alt="" /> </a>
								</div>

								<div>
									<a href="#"><img src="assets/images/logo-04.png" alt="" /> </a>
								</div>

								<div>
									<a href="#"><img src="assets/images/logo-03.png" alt="" /> </a>
								</div>

								<div>
									<a href="#"><img src="assets/images/logo-02.png" alt="" /> </a>
								</div>

								<div>
									<a href="#"><img src="assets/images/logo-05.png" alt="" /> </a>
								</div>

								<div>
									<a href="#"><img src="assets/images/logo-01.png" alt="" /> </a>
								</div>

								<div>
									<a href="#"><img src="assets/images/logo-04.png" alt="" /> </a>
								</div>

								<div>
									<a href="#"><img src="assets/images/logo-03.png" alt="" /> </a>
								</div>

								<div>
									<a href="#"><img src="assets/images/logo-02.png" alt="" /> </a>
								</div>

								<div>
									<a href="#"><img src="assets/images/logo-05.png" alt="" /> </a>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="latest-blogs" id="our-blog">
					<div class=container>
						<div class="heading text-center ">
							<h2>Latest <strong>Blogs</strong></h2>
							<div class="blogs-container">
								<div id="blog-slider">
									<div class="item">
										<div class="blog-details-wrap">
											<div class="blogs-img">
												<img src="assets/images/img-10.jpg" alt="" />
											</div>
											<div class="blog-details">
												<strong> April 25, 2016   /   By: <a href="#"> Author </a>   /   Comment: 32</strong>
												<h3><a href="#">  Curabitur laoreet nisi quis</a></h3>
												<span class="greyline">&nbsp; </span>
												<span class="greyline small-greyline ">&nbsp; </span>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet leo eu ipsum hendrerit consequat quis ut neque...
												</p>
												<a href="blog-detail.html" class="btn read-more"> read more</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="blog-details-wrap">
											<div class="blogs-img">
												<img src="assets/images/img-11.jpg" alt="" />
											</div>
											<div class="blog-details right-arrow">
												<strong> April 25, 2016   /   By: <a href="#"> Bill Gates </a>  /   Comment: 21</strong>
												<h3> <a href="#"> Morbi varius pharetra nulla</a></h3>
												<span class="greyline">&nbsp; </span>
												<span class="greyline small-greyline ">&nbsp; </span>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet leo eu ipsum hendrerit consequat quis ut neque...
												</p>
												<a href="blog-detail.html" class="btn read-more"> read more</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="blog-details-wrap">
											<div class="blogs-img">
												<img src="assets/images/img-10.jpg" alt="" />
											</div>
											<div class="blog-details">
												<strong> April 25, 2016   /   By:<a href="#">  Author </a>  /   Comment: 32</strong>
												<h3> <a href="#"> Curabitur laoreet nisi quis</a></h3>
												<span class="greyline">&nbsp; </span>
												<span class="greyline small-greyline ">&nbsp; </span>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet leo eu ipsum hendrerit consequat quis ut neque...
												</p>
												<a href="blog-detail.html" class="btn read-more"> read more</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="blog-details-wrap">
											<div class="blogs-img">
												<img src="assets/images/img-11.jpg" alt="" />
											</div>
											<div class="blog-details right-arrow">
												<strong> April 25, 2016   /   By: <a href="#"> Bill Gates </a>  /   Comment: 21</strong>
												<h3> <a href="#"> Morbi varius pharetra nulla </a></h3>
												<span class="greyline">&nbsp; </span>
												<span class="greyline small-greyline ">&nbsp; </span>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet leo eu ipsum hendrerit consequat quis ut neque...
												</p>
												<a href="blog-detail.html" class="btn read-more"> read more</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="blog-details-wrap">
											<div class="blogs-img">
												<img src="assets/images/img-10.jpg" alt="" />
											</div>
											<div class="blog-details">
												<strong> April 25, 2016   /   By: <a href="#"> Author</a>/   Comment: 32</strong>
												<h3> <a href="#"> Curabitur laoreet nisi quis</a></h3>
												<span class="greyline">&nbsp; </span>
												<span class="greyline small-greyline ">&nbsp; </span>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet leo eu ipsum hendrerit consequat quis ut neque...
												</p>
												<a href="blog-detail.html" class="btn read-more"> read more</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="blog-details-wrap">
											<div class="blogs-img">
												<img src="assets/images/img-11.jpg" alt="" />
											</div>
											<div class="blog-details right-arrow">
												<strong> April 25, 2016   /   By: <a href="#"> Bill Gates</a>   /   Comment: 21</strong>
												<h3> <a href="#"> Morbi varius pharetra nulla</a></h3>
												<span class="greyline">&nbsp; </span>
												<span class="greyline small-greyline ">&nbsp; </span>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet leo eu ipsum hendrerit consequat quis ut neque...
												</p>
												<a href="blog-detail.html" class="btn read-more"> read more</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="blog-details-wrap">
											<div class="blogs-img">
												<img src="assets/images/img-10.jpg" alt="" />
											</div>
											<div class="blog-details">
												<strong> April 25, 2016   /   By:<a href="#">  Author </a>  /   Comment: 32</strong>
												<h3><a href="#">  Curabitur laoreet nisi quis</a></h3>
												<span class="greyline">&nbsp; </span>
												<span class="greyline small-greyline ">&nbsp; </span>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet leo eu ipsum hendrerit consequat quis ut neque...
												</p>
												<a href="blog-detail.html" class="btn read-more"> read more</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="blog-details-wrap">
											<div class="blogs-img">
												<img src="assets/images/img-11.jpg" alt="" />
											</div>
											<div class="blog-details right-arrow">
												<strong> April 25, 2016   /   By:<a href="#">  Bill Gates </a>  /   Comment: 21</strong>
												<h3> <a href="#"> Morbi varius pharetra nulla</a></h3>
												<span class="greyline">&nbsp; </span>
												<span class="greyline small-greyline ">&nbsp; </span>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet leo eu ipsum hendrerit consequat quis ut neque...
												</p>
												<a href="blog-detail.html" class="btn read-more"> read more</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="contact-us" id="contact-us">
					<div class=container>
						<div class="heading">
							<h2>Contact Us</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum augue nec augue aliquam facilisis. Vivamus malesuada dolor molestie vel nunc.
							</p>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="contact-info">
								<a href="#" class="contact-icon"><i class="icon-call-out"></i> </a>
								<a href="tel:6601234567890" class="contact-text"> +66 (0)123 456 7890</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="contact-info">
								<span  class="contact-icon"><i class="icon-location-pin"></i> </span>
								<span class="contact-text"> 3481 Melrose Place Beverly Hills, CA 90210</span>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="contact-info">
								<a href="#" class="contact-icon"><i class="icon-envelope-letter"></i> </a>
								<a href="mailto:admin@trasuaemplate.com" class="contact-text"> admin@trasuaemplate.com</a>
							</div>
						</div>
					</div>
				</section>
				<section class="get-in-touch">
					<div class=container>
						<div class="form-area-wrap">
							<div class="heading">
								<h2>get in <strong>touch</strong></h2>

							</div>
							<div class="form-area">
								<form name="contactForm" method="post"  novalidate id="contact" class="contact-form" data-ng-controller='themeonCtrl'>
									<div class="col-xs-12 col-sm-6">
										<div class="necessary-info">
											<input id="name" class="contact-name" type="text" name="name" placeholder="John Doe *" required data-ng-model="contactformData.name"  data-ng-class="{'error' : contactForm.name.$error.pattern || submit && contactForm.name.$invalid}"/>
											<input id="email" class="contact-mail" type="email" name="email" placeholder="Email *" required data-ng-model="contactformData.email"   data-ng-class="{'error' : contactForm.email.$error.pattern || submit && contactForm.email.$invalid}"/>
											<input id="sub" class="contact-subject" type="text" name="subject" placeholder="Subject *" required data-ng-model="contactformData.subject" data-ng-class="{'error' : contactForm.subject.$error.required && contactForm.subject.$blured || submit && contactForm.subject.$invalid}"/>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div class="message-send">
											<textarea placeholder="Message *" id="message" name="message" data-ng-model="contactformData.message" required data-ng-class="{'error' : contactForm.message.$error.required && contactForm.message.$blured || submit && contactForm.message.$invalid}"></textarea>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="submit-btn">
											<a href="javascript:void(0)" class="btn comment-submit qoute-sub" data-ng-click="submitcontactForm(contactForm.$invalid)" data-ng-disabled="submitButtonDisabled"> submit </a>
										</div>
									</div>
								</form>
								<div style="display: none" id="contactSuccess">
									<span>Hey! Thanks for reaching out. I will get back to you soon</span>
								</div>
							</div>
						</div>
						<div class="reach-top-icon">
							<a href="#" class="top-large-arrow">&nbsp;</a>
							<a href="#" class="top-small-arrow">&nbsp;</a>
						</div>
					</div>
				</section>
			</div>
			<!--Content Area End-->

			<!--Footer Section Start-->
			<footer id="footer" class="footer-one">
				<div class="container">
					<div class="social-media-wrap">
						<a href="#"><i class="fa fa-twitter"></i> </a>
						<a href="#"><i class="fa fa-facebook"></i> </a>
						<a href="#"><i class="fa fa-instagram"></i> </a>
						<a href="#"><i class="fa fa-pinterest-p"></i> </a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
					<div class="copy-right">
						Copyright &copy;2015 Designed by<a href="#"> Azuretheme.</a> All Rights Reserved.
					</div>
				</div>
			</footer>
			<!--Footer Section End-->

		</div>
		<!--Page Wrapper End-->
		<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="assets/js/less.js"></script>
		<script type="text/javascript" src="assets/js/angular.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>
		<script type="text/javascript" src="assets/js/jquery.appear.js"></script>
		<script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>

		<!-- revolution Js -->
		<!-- RS5.0 Core JS Files -->
		<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.actions.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.revolution.js"></script>
		<!-- revolution Js-->
		<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
		<script type="text/javascript" src="assets/js/count.js"></script>
		<script type="text/javascript" src="assets/js/site.js"></script>
		<script type="text/javascript" src="assets/js/nav.js"></script>

	</body>
</html>