<!DOCTYPE html>
<html lang="es" data-ng-app="themeonApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>AB ABOGADOS</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.png">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/material-design-iconic-font.css" media="screen">
		<link href="assets/css/owl.carousel.css" type="text/css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/global.css" media="screen">
		<!-- RS5.0 Main Stylesheet -->
		<link rel="stylesheet" type="text/css" href="assets/css/settings.css">
		<!-- RS5.0 Layers and Navigation Styles -->
		<link rel="stylesheet" type="text/css" href="assets/css/layers.css">
		<link rel="stylesheet" type="text/css" href="assets/css/navigation.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/skin.css" media="screen">

		<!--Keywords -->
		<meta content="Tree Labs" name="author"/>
	    <meta content="Lo que nos importa es tu tranquilidad" name="description" />
	    <meta content="quito, legal, abogado, divorcio, emprendimiento, empresa, ab" name="keywords" />
	    
		

	</head>
	<body>
		<!--Loader Start-->
		<div id="loading">
			<div id="loading-center">
				<div id="loading-center-absolute">
					<div class="object" id="object_four"></div>
					<div class="object" id="object_three"></div>
					<div class="object" id="object_two"></div>
					<div class="object" id="object_one"></div>
				</div>
			</div>
		</div>
		<!--Loader End-->
		<!--Page Wrapper Start-->
		<div id="wrapper" class="homepage-1">
			<!--Header Section Start-->
			<header id="header" class="header header-one">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-1">
							<a href="index.html" class="logo"> <img class="bnt-nav" src="assets/images/home_1-logo.png" alt="logo" /></a>
						</div>
						<div class="col-xs-12 col-sm-11 nav-mob">
							<nav class="navbar">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav" >
										<li class="active has-sub anchorlink">
											<a data-id="#home-sec" class="bnt-nav" style="color: #BE1E2D">Inicio</a>
										</li>
										<li class="anchorlink">
											<a data-id="#nosotros" class="bnt-nav" style="color: #BE1E2D">Nosotros</a>
										</li>
										<li class="anchorlink">
											<a data-id="#servicios" class="bnt-nav" style="color: #BE1E2D">Servicios</a>
										</li>
										<li class="has-sub anchorlink">
											<a data-id="#abogados" class="bnt-nav" style="color: #BE1E2D">Abogados</a>
										</li>
										<li class="anchorlink">
											<a data-id="#precios" class="bnt-nav" style="color: #BE1E2D">Precios</a>
										</li>
										<li class="anchorlink">
											<a data-id="#contactos" class="bnt-nav" style="color: #BE1E2D">Contacto</a>
										</li>

									</ul>
								</div><!-- /.navbar-collapse -->
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!--Header Section End-->
			<section class="home_one-banner">
				<ul class="social-link" id="lat-redes">
					<li style="background: #BE1E2D;">
						<a href="https://www.facebook.com/abestudiojuridicoec/" target="_blank" class="zmdi zmdi-facebook zmdi-hc-fw"> </a>
					</li>
					<li class="twitter" style="background: #BE1E2D;">
						<a href="https://twitter.com/abestudjuridico" target="_blank" class="zmdi zmdi-twitter zmdi-hc-fw"> </a>
					</li>
					<li class="instagram" style="background: #BE1E2D;">
						<a href="#" class="zmdi zmdi-instagram zmdi-hc-fw"> </a>
					</li>

				</ul>
				<!-- START REVOLUTION SLIDER 5.0 -->
				<div class="rev_slider_wrapper" id="home-sec">
					<div id="slider1" class="rev_slider"  data-version="5.0">
						<ul>

							<li class="slis" data-transition="fade" >
								<!-- MAIN IMAGE -->
								<img src="assets/images/estudio.jpg" alt="" >
								<!-- LAYER NR. 1 -->
								<a href="#" class="down-mark"> </a>
							</li>

							<li class="slis" data-transition="fade">
								<!-- MAIN IMAGE -->
								<img src="assets/images/tranquilidad.jpg" alt="" >
								<!-- LAYER NR. 1 -->
								<a href="#" class="down-mark"> </a>
							</li>

							<!-- Portrait -->
							<li class="prtrt" data-transition="fade">
								<!-- MAIN IMAGE -->
								<img src="assets/images/vertical2.jpg" alt="" >
								<!-- LAYER NR. 1 -->
								<a href="#" class="down-mark"> </a>
							</li>

							<li class="prtrt" data-transition="fade">
								<!-- MAIN IMAGE -->
								<img src="assets/images/vertical1.jpg" alt="" >
								<!-- LAYER NR. 1 -->
								<a href="#" class="down-mark"> </a>
							</li>
							<!-- End Portrait -->


							<li data-transition="fade">
								<!-- MAIN IMAGE -->
								<img src="assets/images/ab_comunicacion.jpg" alt="" >
								<!-- LAYER NR. 1 -->

								<div class="banner-text">
									<!-- LAYER NR. 1 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
										 id="slide-399-layer-6"
										 data-x="center" data-hoffset=""
										 data-y="center" data-voffset="-150"
										 data-width="['auto','auto','auto','auto']"
										 data-height="['auto','auto','auto','auto']"
										 data-transform_idle="o:1;"

										 data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
										 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
										 data-start="1000"
										 data-splitin="none"
										 data-splitout="none"
										 data-responsive_offset="on" >
										<div class="inner-banner-text">
											<span class="top-head" style="color:#404041;">con los  <span style="color:#BE1E2D;">clientes</span></span>
										</div>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
										 id="slide-397-layer-7"
										 data-x="left" data-hoffset=""
										 data-y="left" data-voffset="-70"
										 data-width="['auto','auto','auto','auto']"
										 data-height="['auto','auto','auto','auto']"
										 data-transform_idle="o:1;"

										 data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
										 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
										 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
										 data-start="2000"
										 data-splitin="none"
										 data-splitout="none"
										 data-responsive_offset="on" style = "font-weight: 400;">
										<div class="inner-banner-text">
											<strong style="color:#BE1E2D;">comunicación
												<br>
												efectiva</strong>
										</div>
									</div>


								</div>
								<a href="#" class="down-mark"> </a>

							</li>
							<li data-transition="fade">
								<!-- MAIN IMAGE -->
								<img src="assets/images/ab_procesos.jpg" alt="" >
								<!-- LAYER NR. 1 -->

								<div class="banner-text">
									<!-- LAYER NR. 1 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
										 id="slide-399-layer-9"
										 data-x="center" data-hoffset=""
										 data-y="center" data-voffset="-150"
										 data-width="['auto','auto','auto','auto']"
										 data-height="['auto','auto','auto','auto']"
										 data-transform_idle="o:1;"

										 data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
										 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
										 data-start="1000"
										 data-splitin="none"
										 data-splitout="none"
										 data-responsive_offset="on" >
										<div class="inner-banner-text">
											<span class="top-head" style="color:#404041;">con los <span style="color:#BE1E2D;">clientes</span></span>
										</div>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
										 id="slide-397-layer-10"
										 data-x="left" data-hoffset=""
										 data-y="left" data-voffset="-70"
										 data-width="['auto','auto','auto','auto']"
										 data-height="['auto','auto','auto','auto']"
										 data-transform_idle="o:1;"

										 data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
										 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
										 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
										 data-start="2000"
										 data-splitin="none"
										 data-splitout="none"
										 data-responsive_offset="on" style = "font-weight: 400;">
										<div class="inner-banner-text">
											<strong style="color:#404041;">rapidez en<br>procesos</strong>
										</div>
									</div>


								</div>
								<a href="#" class="down-mark"> </a>
							</li>


							<li data-transition="fade">
								<!-- MAIN IMAGE -->
								<img src="assets/images/ab_precios.jpg" alt="" >
								<!-- LAYER NR. 1 -->

								<div class="banner-text">
									<!-- LAYER NR. 1 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
										 id="slide-399-layer-9"
										 data-x="center" data-hoffset=""
										 data-y="center" data-voffset="-150"
										 data-width="['auto','auto','auto','auto']"
										 data-height="['auto','auto','auto','auto']"
										 data-transform_idle="o:1;"

										 data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
										 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
										 data-start="1000"
										 data-splitin="none"
										 data-splitout="none"
										 data-responsive_offset="on" >
										<div class="inner-banner-text">
											<span class="top-head" style="color:#404041;">con los <span style="color:#BE1E2D;">clientes</span></span>
										</div>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
										 id="slide-397-layer-10"
										 data-x="left" data-hoffset=""
										 data-y="left" data-voffset="-70"
										 data-width="['auto','auto','auto','auto']"
										 data-height="['auto','auto','auto','auto']"
										 data-transform_idle="o:1;"

										 data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
										 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
										 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
										 data-start="2000"
										 data-splitin="none"
										 data-splitout="none"
										 data-responsive_offset="on" style = "font-weight: 400;">
										<div class="inner-banner-text">
											<strong style="color:#404041;">precios
												<br />
												fijos</strong>
										</div>
									</div>

								</div>
								<a href="#" class="down-mark"> </a>
							</li>
						</ul>
					</div><!-- END REVOLUTION SLIDER -->
					<a href="#" class="scroll-down"> </a>
				</div><!-- END OF SLIDER WRAPPER -->
			</section>
			<!--Content Area Start-->
			<div id="content">
				<section class="who" id="nosotros">
					<div class="container">
						<div class="row">
							<div class="col-xs-6 col-sm-5">
								<figure>
									<img src="assets/images/somos.jpg" alt="#">
								</figure>
							</div>
							<div class="col-xs-6 col-sm-7">
								<div class="there">
									<span>¡HOLA!</span>
								</div>
								<div class="who-slider">
									<div class="item">
										<div class="header-wrap">
											<h2 class="text-left">Quiénes <span> somos?</span></h2>
											<p style="text-align: justify";>
												Somos un Estudio Jurídico enfocado en la solución de los problemas legales de nuestros clientes.
												Para nosotros todo gira en torno a la buena comunicación y el asesoramiento preventivo.
												Trabajamos en Quito, Latacunga y Ambato.
											</p>
											<p>
												Trabajamos por tu tranquilidad. Solucionamos problemas legales, con respuestas humanas. Somos AB Estudio Jurídico.
											</p>
										</div>
									</div>
									<!--<div class="item">-->
										<!--<div class="header-wrap">-->
											<!--<h2 class="text-left">Misión <span> ?</span></h2>-->
											<!--<p>-->
												<!--Lorem ipsum dolor sit amet, consectetur adipiscing.-->
												<!--Nunc pharetra interdum iaculis. Vestibulum semper mauris felis, ac euismod velit consequat sed.-->
												<!--Proin porttitor purus in odio egestas, sed efficitur nibh ultrices.-->
											<!--</p>-->
											<!--<p>-->
												<!--Morbi mattis sollicitudin libero ut finibus.-->
												<!--Morbi imperdiet tortor ex, ut convallis nisi vestibulum eget.-->
												<!--Phasellus hendrerit ut erat eget pharetra.-->
											<!--</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="item">-->
										<!--<div class="header-wrap">-->
											<!--<h2 class="text-left">Visión <span>  ?</span></h2>-->
											<!--<p>-->
												<!--Lorem ipsum dolor sit amet, consectetur adipiscing.-->
												<!--Nunc pharetra interdum iaculis. Vestibulum semper mauris felis, ac euismod velit consequat sed.-->
												<!--Proin porttitor purus in odio egestas, sed efficitur nibh ultrices.-->
											<!--</p>-->
											<!--<p>-->
												<!--Morbi mattis sollicitudin libero ut finibus.-->
												<!--Morbi imperdiet tortor ex, ut convallis nisi vestibulum eget.-->
												<!--Phasellus hendrerit ut erat eget pharetra.-->
											<!--</p>-->
										<!--</div>-->
									<!--</div>-->
								</div>
							</div>

						</div>
					</div>
				</section>
				<section class="our-services" id="servicios">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h2>Nuestros <strong>Servicios</strong></h2>
							</div>
						</div>
						<div class="row padding">
							<div class="col-xs-12 col-sm-4 zoom">
								<div class="inner-header-wraper">
									<i class="service-bg icon-unique">&nbsp; </i>
									<span class="icon-paper-plane"> </span>
									<h3><small>Compañías</small></h3>
								</div>
								<p>
									Revisamos tu modelo de negocios y te entregamos una opción societaria adecuada a tu necesidad. No existen emprendimientos grandes o pequeños para nosotros. Nos enfocamos en velocidad y seguridad para tu negocio. Asesoría gratuita; pagas por la constitución.

								</p>
							</div>
							<div class="col-xs-12 col-sm-4 zoom">
								<div class="inner-header-wraper">
									<i class="service-bg icon-social">&nbsp; </i>
									<span class="icon-share"> </span>
									<h3><small>Emprendimientos</small></h3>
								</div>
								<p>
									¿Tienes una idea de negocio y no sabes cómo llevarla adelante? Te asesoramos para la estructuración de tu idea. ¡Hacemos que las cosas sucedan! Damos especial énfasis en viabilidad de producto y protección legal de tu modelo de negocios
								</p>
							</div>
							<div class="col-xs-12 col-sm-4 zoom">
								<div class="inner-header-wraper">
									<i class="service-bg icon-web">&nbsp; </i>
									<span class="icon-energy"> </span>
									<h3><small>Divorcios</small></h3>
								</div>
								<p>
									Te ayudamos en tu divorcio cuando no tienes hijos menores de 18 años. El proceso tarda 60 días.

								</p>
							</div>
						</div>

					</div>
				</section>
				<!--<section id="#precios" class="work-progress">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 text-center ">
								<h2>Working <strong>Process</strong></h2>
								<div class="para-wrap">
									<p>
										Lorem ipsum dolor sit amet consectetur rutrum augue adipiscing elit.
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<figure>
									<img src="assets/images/large-bg.png" alt="#">
								</figure>
							</div>
							<div class="col-xs-12 col-sm-6 col-sm-pull-1">
								<div class="slider-two-wrapper">
									<div class="slider-two">
										<div class="plan">
											<span>02</span>
											<strong>Marketing Plan</strong>
											<p>
												Lorem ipsum sit amet, consectetur adipiscing. Donec non pharetra massa,
												consequat lorem. Suspendisse porttitor feugiat turpis tincidunt. Phasellus
												ullamcorper diam felis convallis malesuada. Vestibulum non imperdiet mauris.
												Ut vitae dui sem...
											</p>
											<a href="#" class="btn">sign up</a>
										</div>
										<div class="plan">
											<span>02</span>
											<strong>Marketing Plan</strong>
											<p>
												Lorem ipsum sit amet, consectetur adipiscing. Donec non pharetra massa,
												consequat lorem. Suspendisse porttitor feugiat turpis tincidunt. Phasellus
												ullamcorper diam felis convallis malesuada. Vestibulum non imperdiet mauris.
												Ut vitae dui sem...
											</p>
											<a href="#" class="btn">sign up</a>
										</div>
										<div class="plan">
											<span>02</span>
											<strong>Marketing Plan</strong>
											<p>
												Lorem ipsum sit amet, consectetur adipiscing. Donec non pharetra massa,
												consequat lorem. Suspendisse porttitor feugiat turpis tincidunt. Phasellus
												ullamcorper diam felis convallis malesuada. Vestibulum non imperdiet mauris.
												Ut vitae dui sem...
											</p>
											<a href="#" class="btn">sign up</a>
										</div>
										<div class="plan">
											<span>02</span>
											<strong>Marketing Plan</strong>
											<p>
												Lorem ipsum sit amet, consectetur adipiscing. Donec non pharetra massa,
												consequat lorem. Suspendisse porttitor feugiat turpis tincidunt. Phasellus
												ullamcorper diam felis convallis malesuada. Vestibulum non imperdiet mauris.
												Ut vitae dui sem...
											</p>
											<a href="#" class="btn">sign up</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</section>-->

				<!-- MODALs INFO ABOGADOS -->
				
				<!-- Modal -->
				<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h3 class="modal-title" id="myModalLabel">AB Abogados</h3>
						</div>
						<div class="modal-body">
							<div class="center-block">
								<br><br>
								<h3 style="text-align: center; color: #000">Andrés Álvarez</h3>
								<h3 style="text-align: center; color: #000">0987537007</h3>
								<h3 style="text-align: center; color: #000">Abogado</h3><br>
							</div>
							<div class="social-wrap">
								<a href="https://www.facebook.com/alvarezdap?fref=ts" target="_blank"> <i class="fa fa-facebook"> </i> </a>
								<a href="https://twitter.com/alvarezdap" target="_blank"> <i class="fa fa-twitter"> </i> </a>
							</div>
						</div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
				      </div>
				    </div>
				  </div>
				</div>
				
				<!-- Modal -->
				<div class="modal fade bs-example-modal-sm" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h3 class="modal-title" id="myModalLabel">AB Abogados</h3>
						</div>
						<div class="modal-body">
							<div class="center-block">
								<br><br>
								<h3 style="text-align: center; color: #000">Esteban Borja</h3>
								<h3 style="text-align: center; color: #000">0999728524</h3>
								<h3 style="text-align: center; color: #000">Abogado</h3><br>
							</div>
							<div class="social-wrap">
								<a href="https://www.facebook.com/esteban.borja.56?fref=ts" target="_blank"> <i class="fa fa-facebook"> </i> </a>
								<a href="https://twitter.com/estebanborja" target="_blank"> <i class="fa fa-twitter"> </i> </a>
							</div>
						</div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
				      </div>
				    </div>
				  </div>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h3 class="modal-title" id="myModalLabel">AB Abogados</h3>
				      </div>
				      <div class="modal-body">
				        <div class="center-block">
							<br><br>
							<h3 style="text-align: center; color: #000">Plinio Fabara</h3>
							<h3 style="text-align: center; color: #000">0999728524</h3>
							<h3 style="text-align: center; color: #000">Para Legal</h3><br>
						</div>
						<div class="social-wrap">
							<a href="https://www.facebook.com/plinio.fabara?fref=ts" target="_blank"> <i class="fa fa-facebook"> </i> </a>
							<a href="https://twitter.com/pliniofabara" target="_blank"> <i class="fa fa-twitter"> </i> </a>
						</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- END Modals Abogados -->

				<section id="abogados" class="amazin-team">
					<div class="container-fluid">
						<div class="row">
							<h2>Equipo <strong>Legal</strong></h2>
						</div>
						<div class="row">
							<div class="col-xs-4 col-sm-4 lg-one">
								<figure style="text-align: right;">
									<img src="assets/images/abogado1.jpg" data-toggle="modal" data-target="#Modal-1" id="img-abogado" alt="#">
								</figure> 
								<div class="img-wrapper">
									<div class="profile-info">
										<h4 data-toggle="modal" data-target="#Modal-1" style="background-color: rgba(249,249,249,0.5); padding: 15px; cursor: pointer">Ver más</h4>
									</div>
								</div>
							</div>

							<div class="col-xs-4 col-sm-4 lg-one">
								<figure style="text-align: center">
									<img src="assets/images/abogado2.jpg" data-toggle="modal" data-target="#Modal-2" id="img-abogado" alt="#">
								</figure>
								<div class="img-wrapper">
									<div class="profile-info">
										<h4 data-toggle="modal" data-target="#Modal-2" style="cursor: pointer; background-color: rgba(249,249,249,0.5); padding: 15px">Ver más</h4>
									</div>									
								</div>
							</div>

							<div class="col-xs-4 col-sm-4 lg-one">
								<figure>
									<img src="assets/images/abogado3.jpg" data-toggle="modal" data-target="#Modal-3" id="img-abogado" alt="#">
								</figure>
								<div class="img-wrapper">
									<div class="profile-info">
										<h4 data-toggle="modal" data-target="#Modal-3" style="cursor: pointer; background-color: rgba(249,249,249,0.5); padding: 15px">Ver más</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="tesimonials">
					<div class="container-fluid" style="margin: 0px;">
						<div class="row center-block">
							<div class="col-lg-6 col-md-6 col-sm-6 center-block">
								<img class="center-block" src="assets/images/juridico.jpg" alt="" />
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: 50px; padding-bottom: 20px">
								<div class="quote-wraper">
									<div id="testimonial-slider" class="owl-carousel owl-theme">
										<div class="testimonial-quote">
											<p>
												Está bien celebrar el éxito, pero es más importante prestar atención a las lecciones del fracaso.
											</p>
											<img src="assets/images/line-2.png" alt="">
											<strong>Bill Gates</strong>
										</div>
										<div class="testimonial-quote">
											<p>
												La condición más decisiva de la felicidad, en suma, consiste en –que uno sea aquello que quiere ser
											</p>
											<img src="assets/images/line-2.png" alt="">
											<strong>Erasmo de Rotterdam</strong>
										</div>
										<!--<div class="testimonial-quote">
											<p>
												Claritas etiam processus dynamicus sequitur mutationem consuetudium lectorum. Mirumo notare quam littera gothica quamun putamus parum claram viderer eleifend.
											</p>
											<img src="assets/images/line-2.png" alt="">
											<strong> Allan Lissa</strong>
											<span> Web Design </span>
										</div>
										<div class="testimonial-quote">
											<p>
												Claritas etiam processus dynamicus sequitur mutationem consuetudium lectorum. Mirumo notare quam littera gothica quamun putamus parum claram viderer eleifend.
											</p>
											<img src="assets/images/line-2.png" alt="">
											<strong> Allan Lissa</strong>
											<span> Web Design </span>
										</div>-->
									</div>
									<small class="quote-icon"><i class="fa fa-quote-right">&nbsp;</i> </small>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="our-pricing" id="precios">
					<div class=container>
						<div class="row">
							<div class="heading text-center ">
								<h2>Nuestros <strong> Precios</strong></h2>
								<p>
									Los mejores precios
								</p>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="pricing-img">
									<img src="assets/images/servicio3.jpg" alt="" />
								</div>
								<div class="pricing-wrap">
									<div class="pricing-amount">
										<sup>$</sup><strong>500</strong><sub></sub>
									</div>
									<div class="pricing-details">
										<strong> Compañías</strong>
										<ul class="star">
											<li></li>
											<li></li>
											<li></li>
										</ul>
										<p>Revisamos tu modelo de negocios y te entregamos una opción societaria adecuada a tu necesidad.
											No existen emprendimientos grandes o pequeños para nosotros.

										</p>

									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="pricing-img">
									<img src="assets/images/servicio2.jpg" alt="" />
								</div>
								<div class="pricing-wrap">
									<div class="pricing-amount">
										<sup>$</sup><strong>400</strong><sub></sub>
									</div>
									<div class="pricing-details">
										<strong> Divorcios</strong>
										<ul class="star">
											<li></li>
											<li></li>
											<li></li>
										</ul>
										<p>
											Te ayudamos en tu divorcio cuando no tienes hijos menores de 18 años. El proceso tarda 60 días.
											Asesoría gratuita;pagas por la constitución.
										</p>

									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="pricing-img">
									<img src="assets/images/servicio1.jpg" alt="" />
								</div>
								<div class="pricing-wrap">
									<div class="pricing-amount">
										<sup>$</sup><strong>300</strong><sub></sub>
									</div>
									<div class="pricing-details">
										<strong> Divorcios</strong>
										<ul class="star">
											<li></li>
											<li></li>
											<li></li>
										</ul>
										<p>
											Llevamos tu caso ante una corte. Fijamos pensión alimenticia, tenencia de los hijos y visitas.Asesoría gratis; pagas solo si te divorcias.

										</p>

									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="latest-blogs" id="our-blog">
					<div class=container>
						<div class="heading text-center ">
							<h2>Nuestra <strong> Jurisprudencia</strong></h2>
						</div>
						<div class="blogs-container">
							<div class="blog-details-wrap">
								<div class="blogs-img">
									<img src="assets/images/blog1.jpg" alt="" />
								</div>
								<div class="blog-details">

									<div class="blog-title">
										<span>Derecho Civil </span>
									</div>

									<h3> <a href="#">¿Por qué se podría terminar escogiendo a la farándula para la Asamblea?</a></h3>
									<span class="greyline"></span>
									<span class="greyline small-greyline"></span>
									<p>
										¿Alguna vez te has preguntado por qué en regímenes democráticos, se termina eligiendo a personajes de la farándula y del entretenimiento televisivo en lugar de académicos o profesionales en las ramas afines a los temas sobre los que se va a gobernar?
									</p>
									<a href="https://medium.com/@andrsalvarez" target="_blank" class="btn"> Leer más</a>
								</div>
							</div>
							<div class="blog-details-wrap">
								<div class="blog-details right-arrow">
									<div class="blog-title">
										<span>Derecho Civil </span>
									</div>

									<h3><a href="#"> ¿Cuál es la naturaleza, efectos y alcance de la adhesión al recurso de apelación?</a></h3>
									<span class="greyline"></span>
									<span class="greyline small-greyline "></span>
									<p>
										El recurso de adhesión a la apelación es un recurso de “sustantividad propia” por lo que no puede ser asimilado con un allanamiento al recurso de apelación de la contraparte.
									</p>
									<a href="https://medium.com/@andrsalvarez" target="_blank" class="btn read-more"> Leer más</a>
								</div>
								<div class="blogs-img">
									<img src="assets/images/blog2.jpg" alt="" />
								</div>
							</div>
						</div>
						<div class="view-more">
							<a href="https://medium.com/@andrsalvarez" target="_blank" class="btn view-more">Leer más </a>
						</div>
					</div>
				</section>
				<section class="contact-us" id="contactos">
					<div class=container>
						<div class="heading">
							<h2>Contacto</h2>
							<p style="text-align: center">
								Si tienes alguna duda o problema con un proceso legal, estamos felices de poder ayudarte.
							</p>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="contact-info">
								<a href="#" class="contact-icon"><i class="icon-call-out"></i> </a>
								<a href="tel:+59322560102" class="contact-text"> +593 (2) 256-0102</a>
							</div>
						</div>


						<div class="col-xs-12 col-sm-4">
							<div class="contact-info">
								<span  class="contact-icon"><i class="icon-location-pin"></i> </span>
								<span class="contact-text"> Calle Mariana de Jesús E7-8 y La Pradera,<br>Edif. Business Plus La Pradera, of. 804 Quito</span>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="contact-info">
								<a href="#" class="contact-icon"><i class="icon-envelope-letter"></i> </a>
								<a href="mailto:admin@trasuaemplate.com" class="contact-text"> info@abestudiojuridico.com</a>
							</div>
						</div>
					</div>
				</section>
				<section class="get-in-touch">
					<div class=container>
						<div class="form-area-wrap">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3989.795567093834!2d-78.4886027!3d-0.1935009!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a701f84899f%3A0x219481fde42c4cf9!2sAB+Abogados+Civiles!5e0!3m2!1ses-419!2s!4v1481664480845" width="100%" height="300" frameborder="0" style="border:0; margin-top: -70px; margin-bottom: 30px" allowfullscreen></iframe>
							<div class="heading">
								<h2><strong>CONSULTA GRATUITA 24/7</strong></h2>
							</div>
							<div class="form-area">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
										<form name="contactForm" method="post"  novalidate id="contact" class="contact-form" data-ng-controller='themeonCtrl'>
											<div class="col-xs-12 col-sm-6">
												<div class="necessary-info">
													<input id="name" class="contact-name" type="text" name="name" placeholder="Nombre *" required data-ng-model="contactformData.name"  data-ng-class="{'error' : contactForm.name.$error.pattern || submit && contactForm.name.$invalid}"/>
													<input id="email" class="contact-mail" type="email" name="email" placeholder="Email *" required data-ng-model="contactformData.email"   data-ng-class="{'error' : contactForm.email.$error.pattern || submit && contactForm.email.$invalid}"/>
													<input id="sub" class="contact-subject" type="text" name="subject" placeholder="Teléfono *" required data-ng-model="contactformData.subject" data-ng-class="{'error' : contactForm.subject.$error.required && contactForm.subject.$blured || submit && contactForm.subject.$invalid}"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="message-send">
													<textarea placeholder="Mensaje *" id="message" name="message" data-ng-model="contactformData.message" required data-ng-class="{'error' : contactForm.message.$error.required && contactForm.message.$blured || submit && contactForm.message.$invalid}"></textarea>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="submit-btn">
													<a href="javascript:void(0)" class="btn comment-submit qoute-sub" data-ng-click="submitcontactForm(contactForm.$invalid)" data-ng-disabled="submitButtonDisabled"> Enviar </a>
												</div>
											</div>
										</form>
										<div style="display: none" id="contactSuccess">
											<span>Muchas gracias por confiar en nosotros, con gusto responderemos su duda!</span>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="background-color: #fff;">
										<div>
											<button href="" class="btn-xs btn-primary center-block" style="padding: 10px; margin-top: 100px; margin-bottom: 100px;">Facebook Messenger</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="reach-top-icon">
							<a href="#" class="top-large-arrow">&nbsp;</a>
							<a href="#" class="top-small-arrow">&nbsp;</a>
						</div>
					</div>
				</section>
			</div>
			<!--Content Area End-->
			<!--Footer Section Start-->
			<footer id="footer" class="footer-one" style="background: #BE1E2D;">
				<div class="container">
				<h2 style="color: #fff">#hacemosderecho | <span>AB Estudio Jurídico</span> </h2>
					<div class="social-media-wrap">
						<a href="https://twitter.com/abestudjuridico" target="_blank"><i class="fa fa-twitter"></i> </a>
						<a href="https://www.facebook.com/abestudiojuridicoec/?fref=ts" target="_blank"><i class="fa fa-facebook"></i> </a>
						<a href="#"><i class="fa fa-instagram"></i> </a>

					</div>
					<div class="copy-right" style="color: white;">
						Copyright &copy;2016 Desarrollado por<a href="#"> Tree Lab.</a> All Rights Reserved.
					</div>
				</div>
			</footer>
			<!--Footer Section End-->

		</div>
		<!--Page Wrapper End-->
		<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="assets/js/less.js"></script>
		<script type="text/javascript" src="assets/js/angular.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>
		<script type="text/javascript" src="assets/js/jquery.appear.js"></script>
		<script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>

		<!-- revolution Js -->
		<!-- RS5.0 Core JS Files -->
		<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.actions.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.revolution.js"></script>
		<!-- revolution Js-->
		<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
		<script type="text/javascript" src="assets/js/count.js"></script>
		<script type="text/javascript" src="assets/js/site.js"></script>
		<script type="text/javascript" src="assets/js/nav.js"></script>


		<script src="assets/js/init.js"></script>



	</body>
</html>